<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="/static/login.css">
</head>
<body>

<div class="login-container">
    <div class="login-box glass">
        <h2 class="title">Iniciar Sesión</h2>

        <form method="POST" action="/login" class="login-form">

            <label>Correo:</label>
            <input type="email" name="usuario" placeholder="correo@example.com" required>

            <label>Contraseña:</label>
            <input type="password" name="password" placeholder="********" required>

            <button type="submit" class="btn-login">Entrar</button>

            {% if mensaje %}
            <p class="error-msg">{{ mensaje }}</p>
            {% endif %}
        </form>
    </div>
</div>

</body>
</html>
